<mat-card>
  <form
    id="filterForm"
    name="filterForm"
    #filterForm="ngForm">

    <div class="form-row">
      <div class="form-group col-xl-3 col-md-3 ml-3">
        <mat-form-field>
          <input
            placeholder="{{'name' | translate}}"
            matInput
            id="name"
            name="name"
            [(ngModel)]="serviceFilter.name">
        </mat-form-field>
      </div>
    </div>
  </form>

  <nvl-clear-add
    [addEnabled]="createPermission"
    (addNew)="add()"
    (resetFilters)="resetFilters()">
  </nvl-clear-add>
</mat-card>

<mat-card>
  <nvl-overview-table
    [deleteEnabled]="deletePermission"
    [editEnabled]="editPermission"
    [columns]="columns"
    [rows]="rows"
    [page]="page"
    [loader]="loader"
    [pageRequest]="pageRequest"
    (changePage)="setPage($event)"
    (changePageSize)="changePageSize($event)"
    (navigateToEdit)="edit($event)"
    (deleteEntity)="delete($event)">
  </nvl-overview-table>
</mat-card>
