<mat-card>

  <form
    id="filterForm"
    name="filterForm"
    #filterForm="ngForm">
    <div class="form-row">
      <div
        class="form-group col-xl-3 col-md-3 ml-3" style="margin-top: -0.3em;"
        *ngIf="isAuthinticated()">
        <ng-select
          [items]="(users$ | async)?.data"
          bindLabel="fullname"
          bindValue="id"
          autofocus
          placeholder="{{'user' | translate}}"
          name="user_id"        
          [(ngModel)]="serviceFilter.userId">
        </ng-select>
      </div>

      <div class="form-group col-xl-3 col-md-3 ml-3">
        <mat-form-field>
          <mat-placeholder>{{'date-from' | translate}}</mat-placeholder>
          <input
            matInput
            [owlDateTimeTrigger]="dtFrom"
            [owlDateTime]="dtFrom"
            name="dateFrom"
            [(ngModel)]="serviceFilter.dateFrom">
          <button
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            [owlDateTimeTrigger]="dtFrom">
            <mat-icon class="date-time">date_range</mat-icon>
          </button>
          <owl-date-time #dtFrom></owl-date-time>
        </mat-form-field>
      </div>

      <div class="form-group col-xl-3 col-md-3 ml-3">
        <mat-form-field>
          <mat-placeholder>{{'date-to' | translate}}</mat-placeholder>
          <input
            matInput
            [owlDateTimeTrigger]="dt"
            [owlDateTime]="dt"
            name="dateTo"
            [(ngModel)]="serviceFilter.dateTo">
          <button
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            [owlDateTimeTrigger]="dt">
            <mat-icon class="date-time">date_range</mat-icon>
          </button>
          <owl-date-time #dt></owl-date-time>
        </mat-form-field>
      </div>

    </div>
  </form>

  <nvl-clear-add
    (addNew)="add()"
    (resetFilters)="resetFilters()">
  </nvl-clear-add>
</mat-card>

<mat-card>
  <nvl-overview-table
    [columns]="columns"
    [rows]="rows"
    [page]="page"
    [loader]="loader"
    [pageRequest]="pageRequest"
    (changePage)="setPage($event)"
    (changePageSize)="changePageSize($event)"
    (navigateToEdit)="edit($event)"
    (deleteEntity)="delete($event)">
  </nvl-overview-table>
</mat-card>
