.mat-expansion-panel {
    margin: 8px; 
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
}

body {
    position: relative;
}

.mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;
  }