<form
  name="newForm"
  #editForm="ngForm">

  <div class="container">

    <header title="edit-rent"></header>

    <mat-card>

      <div-field *ngIf="permissionUpdateAdmin">
        <ng-select
          [items]="(users$ | async)?.data"
          bindLabel="fullname"
          bindValue="id"
          autofocus
          placeholder="{{'user' | translate}}"
          name="user_id"
          [(ngModel)]="model.user_id">
        </ng-select>
      </div-field>

      <div-field>
        <ng-select
          [items]="(traceable_objects$ | async)?.data"
          bindLabel="name"
          bindValue="id"
          placeholder="{{'traceable-object-id' | translate}}"
          name="traceable_object_id"
          [(ngModel)]="model.traceable_object_id">
        </ng-select>
      </div-field>

      <div-field>
        <mat-form-field>
            
          <mat-placeholder>{{'date-from' | translate}}</mat-placeholder>

          <input
            matInput
            [owlDateTimeTrigger]="dt"
            [owlDateTime]="dt"
            name="date_from"
            [(ngModel)]="model.date_from">
          <button
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            [owlDateTimeTrigger]="dt">
            <mat-icon class="date-time">date_range</mat-icon>
          </button>
          <owl-date-time #dt></owl-date-time>
         <!-- <mat-error *ngIf="searchForm.controls[field.id].invalid">required</mat-error> -->
        </mat-form-field>
      </div-field>

      <div-field>
        <mat-form-field>
            
          <mat-placeholder>{{'date-to' | translate}}</mat-placeholder>

          <input
            matInput
            [owlDateTimeTrigger]="dt1"
            [owlDateTime]="dt1"
            name="date_to"
            [(ngModel)]="model.date_to"
          >
          <button
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            [owlDateTimeTrigger]="dt1">
            <mat-icon class="date-time">date_range</mat-icon>
          </button>
          <owl-date-time #dt1></owl-date-time>
         <!-- <mat-error *ngIf="searchForm.controls[field.id].invalid">required</mat-error> -->
        </mat-form-field>

      </div-field>

      <nvl-cancel-save
        (save)="save()"
        (cancel)="cancel()"></nvl-cancel-save>

    </mat-card>
  </div>

</form>

<!-- TODO EXTRACT TO COMPONENT -->
<ng-template
  #loadingTemplate
  *ngIf="!model">
  <div class="d-flex justify-content-center m-5">
    <div
      class="spinner-border"
      role="status">
      <span class="sr-only">{{'loading' | translate}}</span>
    </div>
  </div>
</ng-template>
